.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: auto;
  background-color: white;
}

.receipt-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ascii-header {
  display: flex;
}

.ascii-header pre {
  margin: 1rem;
}

footer > p {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

.barcode-input {
  margin: 2rem;
}

@media print {
  .barcode-input {
    display: none;
  }
}
