h1 {
  font-size: 1.5rem;
}

.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 180px;
  min-height: 500px;
  text-align: center;
}

.receipt-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ascii-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.5rem;
  text-align: left;
}

.ascii-header pre {
  margin: 0 1rem;
  font-size: 0.5rem;
}

footer {
  margin: 2rem;
  font-size: 0.6rem;
  text-align: center;
}

footer > p {
  margin: 0;
  text-align: center;
}

@media screen {
  .receipt {
    margin: auto;
  }
}

@media print {
  @page {
    margin: 0;
  }

  h1 {
    display: none;
  }

  .receipt {
    background-color: white;
    /* width: 100vw; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* margin: 0 auto; */
    padding: 0;
  }
}
